<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFhi5aQVteX9A/profile-displayphoto-shrink_800_800/0/1591810197294?e=1621468800&v=beta&t=cqtG9up7k31R7BKwgY1DozQtb1WEV1ybbzVKNhGOpnc" alt="thapa" title="Abhishek" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome visit - premiumhub.site </p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span>, Certified Ethical Hacker</h1>
                        <a href="https://portfolio-9904.firebaseapp.com/" target="_thapa"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by premiumhub.site
        </p>
    </footer>
</body>

</html>